body {
    margin: 0;
}

/* draw playing field grid*/

table {
    background-color: rgba(255, 255, 255, 0.07);
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
}

table td {
    border: 5px solid white;
}

table tr:first-child td {
    border-top: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:last-child {
    border-right: 0;
}

/* ------------- */

/* field control */
.field-not-setted {
    opacity: 0;
}

.field-not-setted:hover {
    opacity: 0.2;
    cursor: pointer;
    color: white;
}

.field-setted {
    animation: marker-spawn 350ms running;
    transition-duration: 325ms;
    transition-property: filter;
}

.field-invisible {
    opacity: 0;
}

/*-----------------*/

#game-sceen {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-image: url('./img/background.jpg');
    background-repeat: repeat;
    background-size: contain;
    animation: scrolling-background 30s ease-in-out infinite;
    animation-direction: alternate;
}

td[class^='field-'] {
    padding: 0;
    font-size: min(10vh, 10vw);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: min(15vh, 15vw);
    height: min(15vh, 15vw);
    text-align: center;
    cursor: default;
}

.x-marker {
    color: red;
    background-image: radial-gradient(
        ellipse 50% 50% at 50% 50%,
        #6b1839, transparent);
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
}

.o-marker {
    color: blue;
    background-image: radial-gradient(
        ellipse 50% 50% at 50% 50%,
        #19186b, transparent);
    text-shadow: 0 0 0.6rem #e8e6ff, 0 0 1.5rem #6f65ff,
    -0.2rem 0.1rem 1rem #6f65ff, 0.2rem 0.1rem 1rem #6f65ff,
    0 -0.5rem 2rem #3a24ff, 0 0.5rem 3rem #3a24ff;
}

.field-of-winning-row {
    filter: brightness(3);
}

/* ------Animations ------- */

@keyframes marker-spawn {
    0% {
        font-size: 0px;
        color: black;
    }
    40% {
        color: black;
    }
    100% {
        font-size: min(13vw, 13vh);
        color: gray;
    }
}

@keyframes swiggle {
    0% {
        transform: translateX(0);
    }
    15% {
        transform: translateX(1rem);
    }
    35% {
        transform: translateX(-1rem);
    }
    55% {
        transform: translateX(1rem);
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        transform: translateX(0);
    }
}


@keyframes scrolling-background {
    from {
        background-position-x: -250%;
    }
    to {
        background-position-x: 250%;
    }
}